<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
<h3>메인화면</h3>
<ul th:if="${session.isEmpty()}">
  <li><a href="" th:href="@{/products/add}">등록</a></li>
  <li><a href="" th:href="@{/products/search}">조회</a></li>
  <li><a href="" th:href="@{/products/update}">수정</a></li>
  <li><a href="" th:href="@{/products/delete}">삭제</a></li>
  <li><a href="" th:href="@{/products}">전체조회</a></li>
</ul>
</body>
</html>